.back_link:disabled,
.next_link:disabled {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #000;
    cursor: not-allowed;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    line-height: 110%;
}

.back_link, .next_link {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #6A0BFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 110%;
    cursor: pointer;

    @media (max-width: 768px) {
        font-size: 14px;
        gap: 2px;
    }

    @media (max-width: 360px) {
        font-size: 13px;
        gap: 2px;
        padding: 8px 12px;
    }
}