.banner{
    margin-top: 60px;
}

.main{
    padding-right: 66px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.tag{
    padding: 6px 12px;
    border-radius: 16px;
    background-color: #F0E7FF;
    color: #6A0BFF;
}
                         
h1{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 115%;
}

.parag{
    font-size: 16px;
    margin-bottom: 24px;
    width: 527px;
}

.btn {
    display: block;
    text-decoration: none;
    padding: 12px 29px;
    border-radius: 16px;
    background-color: #6A0BFF;
    color: #FFFFFF;
    width: 240px;
    font-size: 18px;
    text-align: center;
}

.banner_image_wrapper{
    position: relative;
}

.banner_image{
    width: 498px;
    height: 491px;
    border-radius: 16px;
    object-fit: cover;
}

.figma_box {
    content: ' ';
    display: grid;
    grid-template-columns: repeat(2, 60px);
    grid-template-rows: repeat(2, 56px);
    gap: 8px;
    z-index: 1000;
    position:absolute;
    top: 23px;
    left: -80px;
    rotate: -5deg;
    width: 152px;
    height: 144px;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 #6A63761A;
    box-sizing: border-box;
    padding: 12px;
}


.figma_rectangle {
    content: ' ';
    display: block;
    box-sizing: border-box;
    z-index: 1000;
    position: absolute;
    top: 192px;
    right: -66px;
    width: 186px;
    height: 81px;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 #6A63761A;
    padding: 13px;
}

.figma_rectangle p{
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.figma_rectangle p:first-child {
    font-size: 16px;
    margin-bottom: 10px;
}

.figma_rectangle p:nth-child(2) {
    font-size: 10px;
    color: #8C8C8C;
}

.banner_image_wrapper::before {
    content: ' ';
    position: absolute;
    display: block;
    box-sizing: border-box;
    z-index: 1000;
    position: absolute;
    top: 366px;
    left: -69px;
    width: 69px;
    height: 210px;
    background-color: transparent;
    border-left: 2px solid #A66DFF;
    border-top: 2px solid #A66DFF;
    border-radius: 16px 0 0 0;
}

.banner_image_wrapper::after {
    content: ' ';
    position: absolute;
    display: block;
    box-sizing: border-box;
    z-index: 1000;
    position: absolute;
    top: 442px;
    right: -19px;
    width: 19px;
    height: 89px;
    background-color: transparent;
    border-right: 2px solid #A66DFF;
    border-top: 2px solid #A66DFF;
    border-radius: 0 16px 0 0;
}

.progress_bar{
    display: flex;
    align-items: center;
    gap: 1px;
}

.progress_line{
    height: 6px;
    width: 53px;
    background-color: #008616;
}

.progress_line:first-child, 
.progress_line:last-child {
    height: 4px;
}

.figma_item {
    background-color: #F4F4F4;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_variants{
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 247px;
    list-style: none;
    gap: 20px;
}

.variants{
    display: flex;
}

.item_variant{
    align-content: start;
    width: 392px;
    height: 207px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.variants:nth-child(2){
    align-items: end;
}

.variants:nth-child(2) .item_variant{
    background-color: #F0E7FF;
}

.icon_variant{
    width: 43px;
    min-height: 45px;
    background-color: #ECECEC;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_variants li:nth-child(2) .item_variant 
.icon_variant {
    background-color: #A66DFF;
}

.icon_variant img {
    height: 26px;
}

.item_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item_title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.item_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}