.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1216px;
  margin-top: 24px;
  flex-grow: 1;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0;
  }
}
